.home__intro {
  display: flex;
  justify-content: center;
}

.home__tasks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5% 15%;
}

.home__wrapper {
  padding: 20px;
}

.home__task {
  margin-bottom: 30px;
}

.home__task h2,
.home__task h3,
.home__task p {
  margin-bottom: 15px;
}

.home__task ul {
  margin: 0;
  padding: 0;
}

.home__task li {
  margin-bottom: 10px;
}
